// PRIMARY COLOURS

$dark-green: #527c09;
$light-green: #737807;
$brown: #937406;
$dark-orange: #b47004;
$orange: #d56c02;

// SECONDARY COLOURS

$graphite: #232940;
$white: #ffffff;

// BREAKPOINTS

$tablet-breakpoint:768px;
$desktop-breakpoint: 1280px;
