// PRIMARY COLOURS

$dark-green: #537c09;
$light-green: #777807;
$brown: #937406;
$dark-orange: #b47004;
$orange: #d56c02;

// SECONDARY COLOURS

$blue: #2e66e6;
$white: #ffffff;
$mid-green: #64690c;
$mid-orange: #b87d11;
$light-orange:#f87d02;
$darker-green: #456608;

// BREAKPOINTS

$tablet-breakpoint:768px;
$desktop-breakpoint: 1280px;
