@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.profile-marketplace {


    &__container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        @include tablet {
            justify-content: space-around;
        }
    }

    &__add-icon {
        width: 1.5rem;

        @include tablet {
            margin-top: 1rem;
            width: 4vw;
        }

        @include desktop {
            width: 3vw;
            margin-bottom: 2rem;
        }
    }
}

.profile-marketplace-card {
    width: 70%;
    height: 88vw;
    display: flex;
    flex-direction: column;
    padding: .5rem .5rem 1rem .5rem;
    background-color: $dark-green;
    border-radius: .3125rem;
    text-decoration: none;
    box-shadow: 1.25rem;
    margin-top: 1rem;
    box-shadow: 5px 5px 5px $black;

    @include tablet {
        width: 45%;
        border-radius: .5rem;
        height: 69vw;
        margin: 2rem 0rem 2rem 0rem;
        padding: 1rem 1rem .5rem 1rem;
    }

    @include desktop {
        width: 30%;
        height: 46vw;
    }

    &__icon-container {
        display: flex;
    }

    &__edit-icon {
        @include tablet {
            width: 4vw;
        }

        @include desktop {
            width: 2.5vw;
        }
    }

    &__delete-icon--container {
        margin-right: .5rem;
        width: 4vw;

        @include tablet {
            width: 5vw
        };

        @include desktop {
            width: 2.5vw;
        }
    }

    &__delete-icon {
        @include tablet {
            width: 4vw;
        }

        @include desktop {
            width: 2.5vw;
        }
    }

    &__image {
        width: 100%;
        height: 35vw;
        flex-shrink: 0;
        object-fit: cover;
        border-radius: .3125rem;

        @include tablet {
            border-radius: .5rem;
        }

        @include desktop {
            height: 25vw;
            border-radius: .625rem;
        }
    }

    &__item-name {
        font-size: 5vw;
        color: $white;
        font-weight: 700;
        margin-top: .5rem;
        margin-bottom: .5rem;
        text-align: center;

        @include tablet {
            font-size: 3.75vw ;
        }

        @include desktop {
            font-size: 2vw;
        }
    }

    &__content-container {
        padding: .5rem .5rem 0rem .5rem;
        background-color: $darker-green;
        border-radius: .9375rem;

        @include desktop {
            padding: 1rem 1rem 1rem 1rem;
        }
    }

    &__content-subcontainer {
        display: flex;
        justify-content: space-between;
    }

    &__heading {
        color: $white;
        font-size: 4vw;
        font-weight: 600;
        text-decoration: underline solid $white;

        @include tablet {
            font-size: 2.6vw;
        }

        @include desktop {
            font-size: 1.5vw;
        }
    }

    &__content {
        color: $white;
        font-size: 3.5vw;
        margin-bottom: .5rem;

        @include tablet {
            font-size: 2.5vw;
        }

        @include desktop {
            font-size: 1.4vw;
        }
    }

    &__no-post {
        margin: 2rem 0rem 2rem 0rem;
        padding: 1rem;
        border-radius: .75rem;
        text-align: center;
        background-color: $dark-green;
    } 
    
    &__no-post-message {
        font-size: 1.5rem;
        color: $white;
    }

}