@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.profile-page {
    margin: 2rem 1rem 2rem 1rem;

    &__content-container {

        @include tablet {
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 3rem;
        }
    }
}