@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.profile-info {
    width: 100%;
    background-color: $brown;
    border-radius: .9375rem;
    padding: 1rem;
    margin-bottom: 1rem;

    @include tablet {
        width: 45%;
        margin-bottom: 0rem;
    }

    &__name {
        color: $white;
        font-size: 1.75rem;
        text-align: center;
        margin-bottom: .5rem;

        @include tablet {
            font-size: 3.7vw;
        }
    }


    &__subcontainer--1 {
        display: flex;
        margin-bottom: .5rem;
    }

    &__picture {
        width: 40%;
        height: 100%;
        border-radius: .9375rem;
        margin-right: .5rem;
        display: flex;
        flex-shrink: 0;
        object-fit: cover;
    }

    &__heading-container {
        background-color: $dark-green;
        padding: .25rem .5rem .25rem .5rem;
        margin-bottom: .5rem;
        border-radius: .9375rem;
        display: flex;
        align-content: center;
    }

    &__heading {
        color: $white;
        font-size: 1rem;

        @include tablet {
            font-size: 2.6vw;

            @include desktop {
                font-size: 2.2vw;
                border-radius: 2rem;
            }
        }
    }

    &__content {
        color: $white;
        font-size: .875rem;
        margin-bottom: .5rem;
        padding-left: .5rem;

        @include tablet  {
            font-size: 2.4vw;

            @include desktop {
                font-size: 1.8vw;
            }
        }
    }

    &__content-subcontainer {
        display: flex;
        justify-content: space-between;
    }

    &__icon-container {
        display: flex;
    }

    &__icon {
        @include tablet {
            width: 3vw;
        }
    }
}